@media screen and (max-width:1280px) {
  .main-content__blok {
    padding: 40px;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .main-content__blok:nth-child(2) {
    flex-direction: column;
  }
}