html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

:root {
  --index: calc(1vh + 1vw);
  --transition: 1s cubic-bezier(0.000, 0.445, 0.115, 1.020);
}

body {
  margin: 0;
  background-color: #000;
  color: #fff;
}

.parallax {
  perspective: 1px;
  overflow-y: auto;
  overflow-x: hidden;
}

.parallax__container {
  height: 100vh;
  transform-style: preserve-3d;
  position: relative;
}

.parallax__layer {
  position: absolute;
  inset: 0;
  background-position: center;
  background-size: cover;
}

/* .parallax__layer > img {
  display: block;
  width: 100%;
} */

.layer-1 {
  transform: translateZ(-7px) scale(8);
  width: calc(var(--index) * 64);
  height: calc(var(--index) * 34);
}

.layer-2 {
  transform: translateZ(-6px) scale(7);
  width: calc(var(--index) * 64);
  height: calc(var(--index) * 40);
  background: linear-gradient(330.24deg, rgba(11, 29, 38, 0) 31.06%, #0B1D26 108.93%);
}

.layer-3 {
  transform: translateZ(-3px) scale(4);
  top: calc(var(--index) * 75);
  width: calc(var(--index) * 64);
  height: calc(var(--index) * 47.4);
}

.layer-4 {
  top: calc(var(--index) * 60);
  transform: translateZ(-2px) scale(3);
  width: calc(var(--index) * 64);
  height: calc(var(--index) * 30.7);
}

.layer-5 {
  top: calc(var(--index) * 75);
  transform: translateZ(-1px) scale(2);
  height: 100vh;
}

.layer-5__liner-gr {
  height: 100vh;
  background: linear-gradient(180deg, rgba(11, 29, 38, 0) 0%, #0B1D26 61.38%);
}

.layer-5__bgc {
  height: 100vh;
  background-color: #0B1D26;
}

.layer-6 {
  transform: translateZ(0);
}

/* .layer-6 {
  top: 1200px;
  height: 700px;
  background: linear-gradient(180deg, rgba(11, 29, 38, 0) 0%, #0B1D26 61.38%);
} */

/* .layer-7 {
  top: 1890px;
  height: 3000px;
  background-color: #0B1D26;
} */


.header {}

.header__logo {}

.header__menu {}

.menu__item {}

.header__user {}

.header__link {}

.userpic {}

.header__text-accent {}

.content {}

.content__blok-link {}

.content__list {}

.list__item {}

.list__link {}

.list__text {}

.list__icon {}

.content__center {}

.banner {}

.banner__liner {}

.banner__text {}

.content__title {}

.content__sroll {}

.content__nav {}

.nav__list {}

.nav_item {}