html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  background-color: #032c40;
  color: var(--weib-color);
}

img {
  display: block;
  width: 100%;
}

h1, h2, p {
  margin: 0;
  padding: 0;
}

:root {
  --index: calc(1vh + 1vw);
  --accent-color: #FBD784;
  --bgc-color: #032c40;
  --weib-color: #FFFFFF;
}

@font-face {
  font-family: Gilroy-pers;
  src: url(../font/Gilroy/Gilroy-Light.otf);
}

@font-face {
  font-family: Chronicle Display-pers;
  src: url(../font/chronicle-display/Chronicle\ Display\ Roman.otf);
}

/* Общие стили */

.style-title {
  font-family: "Chronicle Display-pers";
  font-size: 5.5em;
  font-weight: 500;
  line-height: 100px;
  word-wrap: break-word;
  text-transform: capitalize;
  text-shadow: 2px 1px var(--bgc-color);
}

.style-text {
  font-size: 1.8em;
  font-weight: 700;
  font-family: Gilroy-pers;
  list-style: none;
  text-transform: capitalize;
  /* text-shadow: 2px 1px pink; */
}

.icon {
  width: 30px;
  height: 30px;
}

       /* стили ссылок */
.link-style__one {

}

.link-style__thy {

}

/* Слои паралкаса */

.parallax {
  perspective: 1px;
  overflow-y: auto;
  overflow-x: hidden;
}

.parallax__container {
  height: 100vh;
  transform-style: preserve-3d;
  position: relative;
}

.parallax__layer {
  position: absolute;
  inset: 0;
  height: 100%;
  background-position: 25% 1.5%;
  background-size: cover;
}

.layer-1 {
  transform: translateZ(-5px) scale(6);
  clip-path: inset(0 0 18% 0);
}

.layer-2 {
  transform: translateZ(-4px) scale(5.1);
  background: linear-gradient(330.24deg, rgba(172, 185, 192, 0) 31.06%, #4b7183 108.93%);
}

.layer-3 {
  transform: translateZ(-3px) scale(4.1);
  top: calc(var(--index) * 50);
  clip-path: inset(0 0 10% 0);
}

.layer-4 {
  top: calc(var(--index) * 70);
  transform: translateZ(-2px) scale(3.2);
}

.layer-4::after {
  content: '';
  margin-top: 1px;
  display: block;
  height: 100%;
  background: linear-gradient(180deg, rgba(56, 135, 174, 0) 0%, #032c40 90%);
}


.layer-5 {
  top: calc(var(--index) * 95);
  transform: translateZ(-1px) scale(2);
}

/* .layer-5__liner-gr {
  min-height: calc(var(--index) * 80);
  background: linear-gradient(180deg, rgba(56, 135, 174, 0) 0%, #032c40 61.38%);
} */

/* .layer-5__bgc {
  min-height: calc(var(--index) * 50);
  background-color: var(--bgc-color);
  clip-path: polygon(0 0, 100% 0, 100% 78%, 93% 79%, 87% 76%, 84% 80%, 73% 76%, 65% 73%, 58% 76%, 50% 78%, 43% 72%, 39% 71%, 34% 76%, 29% 81%, 23% 78%, 21% 72%, 14% 65%, 11% 61%, 0 57%);
} */


.layer-6 {
  transform: translateZ(0);
}

/* .layer-6::after {
  content: '';
  background-color: #032c40;
  background-position: bottom;
  display: block;
  height: 50%;
} */

/* Шапка */


.wrapper__container {
  margin: 0 auto;
  padding: 64px 0 20px;
  padding: 0 auto;
  max-width: 1760px;
}

.header {
  margin-bottom: 200px;
  display: flex;
  justify-content: space-between;
}

.header__logo {
  font-family: Chronicle Display-pers;
  font-size: 2.1em;
  letter-spacing: 0.32px;
  font-weight: 600;
  text-transform: uppercase;
}

.header__menu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  text-align: center;
}

.menu__item {}

.menu__link {
  color: inherit;
  text-decoration: none;
}

.menu__link:hover {
  transition: 1.1s;
  color: var(--accent-color);
}

.header__user {
  display: flex;
}

.header__link {
  text-decoration: none;
  color: inherit;
}

.header__userpic {
  margin-right: 8px;
}

.content {
  margin-bottom: 600px;
  display: flex;
  justify-content: space-between;
}

.social__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 14.5em;
  list-style: none;
}

.social__item {
  writing-mode: vertical-rl;
}

.social__link {
  text-decoration: none;
  color: inherit;
}


/* .social__text {}
.list__icon {}
.content__center {} */

.banner {
}

.banner__text {
  align-self: center;
  color: var(--Accent, #FBD784);
  letter-spacing: 0.375em;
  text-transform: uppercase;
}

.banner__text::before {
  content: '';
  margin-right: 32px;
  margin-bottom: 8px;
  display: inline-block;
  width: 72px;
  height: 2px;
  background-color: var(--accent-color);
}

.content__title {
  margin-bottom: 60px;
  max-width: 950px;
}

.content__sroll {
  color: inherit;
  text-decoration: none;
}

.content__arrow_downward {
  width: 16px;
  height: 24px;
}

.content__nav {
  text-align: end;
}

.nav__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 8.1em;
  list-style: none;
}

.nav_item {}

/* Основной контент */

.main-content {
  max-width: 91.25em;
  margin: 0 auto;
}

.main-content__blok:nth-child(2) {
  flex-direction: row-reverse;
}

.main-content__blok {
  display: flex;
  /* position: relative; */
}

/* .main-content__number-blok {
  position: absolute;
  z-index: -1;
  top: .30em;
  opacity: 0.5;
  color: var(--weib-color);
  font-family: Gilroy-pers;
  font-size: 220px;
  font-weight: 700;
  line-height: 240px;
} */

.main-content__blok:last-child {
  margin-bottom: 0;
}

.main-content__item {
  margin: 140px 150px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 30px;
}

.main-content__title {
  max-width: 560px;
}

.main-content__text {}

.main__content__link {
  color: var(--accent-color);
  text-decoration: none;
}

.main__content__link::after {
  content: url(../icon/arrow_accent.svg);
  padding-left: 20px;
}

.main-content__img {
  align-self: center;
  max-width: 35.5em;
  max-height: 45em;
}

/*Подвал */

.footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 37.5em;
}
.footer__blok-left {
}
.header__logo {
  margin-bottom: 35px;
}
.footer__slogan {
  margin-bottom: 7.625em;
}
.footer__copy {
}
.footer__blok-right {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12.5em ;
}
.footer__blok-elim {
  max-width: 300px;
}

.footer__h3 {
  margin-bottom: 15px;
  color: var(--accent-color);
  font-size: 2.1875em;
  min-width: 300px;
}

.footer__h3::after {
  content: '';
  margin-top: 10px;
  display: block;
  width: 100px;
  height: 2px;
  background-color: var(--accent-color);
}

.footer__list {
  line-height: 50px;
}
.list__item > a {
  text-decoration: none;
  color: inherit;
}

.list__item > a:hover {
  transition: 1.2s;
  color: #FBD784;
} 


